spring:
  datasource:
    url: jdbc:mysql://localhost:3306/carrot
    username: root
    password: ${MYSQL_ROOT_PASSWORD}

  redis:
    host: 127.0.0.1
    port: 6379

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql: trace # binding parameter 로그
    com.jpaplayground: debug
    org.springframework.cache: trace # Caching 로그
    org.springframework.transaction.interceptor: trace # transaction 시작, 끝 로그
